body{

  display: block;
  flex-direction: column;
  text-align: center;
  
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cast{
  padding: 1rem;
  position: relative;
  width:200px;
  
}

.info{
 
  padding: 1rem;
  align-items: center;
 

}
.cast img {
 width: 100%;
   
 
}